@model List<Product>

<link rel="stylesheet" href="~/css/images_slider.css" />

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center mb-0" style="color:var(--main-text-color-hover)">@ViewBag.Category?.name</h1>
        </div>
    </div>
    <div class="row mx-0">
        <div class="mb-2 mr-auto goback-wrapper">
            <a href="@Url.ActionLink("Index", "Home")">
                <i class="fas fa-arrow-left md ms-0 ms-md-5 nohover" style="opacity:1;color:var(--main-text-color-hover)"></i>
                <span class="" style="display: inline-block;color:var(--main-text-color-hover)">ГЛАВНАЯ</span>
            </a>
        </div>
    </div>

    <div class="row mx-0 row-cols-2 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-1 g-sm-2 justify-content-center">
      @foreach (Product p in Model!)
        {
            <div class="col">
                <a href="@Url.ActionLink(p.name.ToLower(), p.groups?.FirstOrDefault()?.name?.ToLower())" class="nohover">
                    <div class="card">
                        @{
                            var images = p.images?.Where(i => i.Size == ImageSize.m).OrderBy(i => i.Side).ToList();
                        }
                        <div class="card-img-bottom images-slider" images-count="@images?.Count">
                            @foreach (var img in images)
                            {
                                string active = img.Side == ImageSide.front ? "active" : "";
                                <img src="@img.Url" style="object-fit: contain;" height="500" class="card-img px-3 @active" alt="@p.name">

                            }

                            <div class="indicators">
                                @foreach (var img in images)
                                {
                                    string active = img.Side == ImageSide.front ? "active" : "";
                                    <div class="indicator @active" indicator-target="@img.Url"></div>
                                }
                            </div>
                        </div>

                        <div class="card-body pt-0">
                            <h5 class="card-title fa-2x text-center">@p.name</h5>
                            <p class="card-text fa-sm text-center">
                             @*   @{
                                    var oldPrice = p.maxPrice + 1000;
                                }
                                <strike class="me-1">@oldPrice <i class="fa fa-rub nohover"></i></strike>*@
                                @p.maxPrice <i class="fa fa-rub nohover"></i>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>

<script src="~/js/images_slider.js" type="text/javascript" asp-append-version="true"></script>