@model yakutsa.Models.Cart

<div class="container">
  <div class="row pt-5">
    <div class="col-md-12">
      <h1 b-wwctiolgr7="" class="text-center my-3">КОРЗИНА</h1>
      @if (Model?.Count != 0)
      {
        <div data-reflow-type="shopping-cart">
          <div class="reflow-shopping-cart">
            <div class="ref-loading-overlay"></div>
            <div class="ref-message" style="display: none;"></div>
            <div class="ref-cart" style="display: block;">
              <div class="ref-th">
                <div class="ref-product-col">Наименование</div>
                <div class="ref-price-col">Цена</div>
                <div class="ref-quantity-col">Количество</div>
                <div class="ref-total-col">Стоимость</div>
              </div>
              <div class="ref-cart-table">

                @foreach (var product in Model?.CartProducts!)
                {
                  <div class="ref-product" data-id="@product.Product.id">
                    <div class="ref-product-col">
                      <div class="ref-product-wrapper flex-column flex-sm-row">
                        <img class="ref-product-photo" src="@product.Product.imageUrl" alt="@product.Product.name" />
                        <div class="ref-product-data">
                          <div class="ref-product-info text-center">
                            <div class="ref-product-name">@product.Product.name</div>
                            @*   <div class="ref-product-category">@product.Product?.Name</div>*@
                            <div class="ref-product-variants">Размер: @product.Offer?.article.Split("-")[1]</div>
                          </div>
                          <div class="ref-product-price text-end">@product.Offer?.price <i class="fa fa-rub"></i></div>
                        </div>
                      </div>

                      <div class="ref-product-controls">
                        <div class="ref-product-quantity">
                          <form action="@Url.ActionLink("ChangeCount", "Home")" method="post">
                            <div class="ref-quantity-widget">
                              <div class="ref-decrease">-</div>
                              <input name="id" type="hidden" value="@product.Product.id" />
                              <input name="offerId" type="hidden" value="@product.Offer.id" />
                              <input name="count" type="text" value="@product.Count" />
                              <div class="ref-increase">+</div>
                            </div>
                            <div class="d-inline-block">
                              <input class="ref-product-count px-1" style="background: transparent;color: white;border: none;" type="submit" value="Изменить" />
                              <a href="@Url.ActionLink("RemoveFromCart", "Home", new { productId = @product.Product.id, offerId = @product.Offer.id })" class="ref-product-remove px-1">Удалить</a>
                            </div>
                            <div class="d-inline">@product.Price <i class="fa fa-rub"></i></div>
                          </form>
                        </div>
                      </div>
                    </div>
                    <div class="ref-price-col">
                      <div class="ref-product-price">@product.Offer.price<i class="fa fa-rub nohover"></i></div>
                    </div>
                    <div class="ref-quantity-col">
                      <div class="ref-product-quantity">
                        <form action="@Url.ActionLink("ChangeCount", "Home")" method="post">
                          <div class="ref-quantity-widget">
                            <div class="ref-decrease">-</div>
                            <input name="id" type="hidden" value="@product.Product.id" />
                            <input name="offerId" type="hidden" value="@product.Offer.id" />
                            <input name="count" type="text" value="@product.Count" />
                            <div class="ref-increase">+</div>
                          </div>
                          <div class="d-inline-block">
                            <input class="ref-product-count px-1" style="background: transparent;color: white;border: none;" type="submit" value="Изменить" />
                            <a href="@Url.ActionLink("RemoveFromCart", "Home", new { productId = @product.Product.id, offerId = @product.Offer.id})" class="ref-product-remove px-1">Удалить</a>
                          </div>
                          @*  <div class="d-inline">@product.Price <i class="fa fa-rub"></i></div>*@
                        </form>
                      </div>
                    </div>
                    <div class="ref-total-col">
                      <div class="ref-product-total">
                        <div class="ref-product-total-sum">@product.Price <i class="fa fa-rub nohover"></i></div>
                      </div>
                    </div>
                  </div>
                }
              </div>
              <div class="ref-footer">
                <div class="ref-links">
                  <a href="/RefundPolicy" target="_blank">Политика возврата</a>
                  <a href="/DeliveryRules" target="_blank">Условия доставки</a>
                </div>
                <div class="ref-totals">
                  <div class="ref-subtotal">ИТОГО: @Model?.Price <i class="fa fa-rub nohover"></i></div><br />
                  <div class="btn-anim">
                    <a class="btn btn-main px-4 ref-checkout-button" href="@Url.ActionLink("OrderOptions","Home")">Подтвердить</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      }
      else
      {
        <p class="text-center">Ваша корзина пока пуста...</p>
      }
    </div>
  </div>


</div>


